.section {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	overflow: hidden;
	scroll-snap-align: start;
	overflow: hidden;
}

.section::before,
.section::after {
	content: "";
	position: absolute;
	inset: 0;
	background-size: cover;
	background-position: left;
	z-index: -1;
	transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	will-change: opacity; /* Otimiza a renderização */
}

/* Fundo padrão */
.section::before {
	background: linear-gradient(
			rgba(53, 53, 187, 0.882),
			rgba(53, 53, 187, 0.442)
		),
		url("../../public/slimmindlogo.png");
	opacity: 1;
}

/* Fundo alternativo  */
.section::after {
	background: linear-gradient(
			rgba(53, 53, 187, 0.442),
			rgba(53, 53, 187, 0.882)
		),
		url("../../public/slimmindlogo.png");
	opacity: 0;
}

.section--inverted::before {
	opacity: 0;
	transition-timing-function: ease-in;
}

.section--inverted::after {
	opacity: 1;
	transition-timing-function: ease-out;
}
