.section {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	overflow: hidden;
	scroll-snap-align: start;
	overflow: hidden;
	min-width: 100vw;
	margin-left: -6vh;
}

.section::before,
.section::after {
	content: "";
	position: absolute;
	inset: 0;
	background-size: cover;
	background-position: left;
	z-index: -1;
	transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	will-change: opacity; /* Otimiza a renderização */
}

/* Fundo padrão */
.section::before {
	background: linear-gradient(
			rgba(53, 53, 187, 0.882),
			rgba(53, 53, 187, 0.442)
		),
		url("/images/slimmindlogo.webp");
	opacity: 1;
}

/* Fundo alternativo  */
.section::after {
	background: linear-gradient(
			rgba(53, 53, 187, 0.442),
			rgba(53, 53, 187, 0.882)
		),
		url("/images/slimmindlogo.webp");
	opacity: 0;
}

.section--inverted::before {
	opacity: 0;
	transition-timing-function: ease-in;
}

.section--inverted::after {
	opacity: 1;
	transition-timing-function: ease-out;
	height: calc(100% + 20px);
}

@media (max-width: 768px) {
	.section {
		min-height: 80vh;
		margin-left: -2vh;
	}

	.section::before,
	.section::after {
		background-position: center;
	}
}

@media (max-width: 480px) {
	.section {
		min-height: 70vh;
		margin-left: 0;
	}
}

@media (max-width: 380px) {
	.section {
		min-height: 60vh;
		margin-left: 0;
	}

	.section::before,
	.section::after {
		background-size: contain;
		background-repeat: no-repeat;
	}
}

@media (max-width: 280px) {
	.section {
		min-height: 50vh;
	}
}
